
# Default ignored files
/workspace.xml

# Ignore the virtual environment
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json


# Ignore .idea files
/Baxter.iml
/misc.xml
/modules.xml
/vcs.xml
